*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: rgba(165, 76, 4, 0.829);
}
h2{
    background-color: black;
    color: aliceblue;
    text-align: center;

}
.imagenportada {
    background-color: rgba(0, 0, 0, 0.644);
    border: black solid ;
    width: 100%;
    grid-area: auto;
}

header{
    display: grid;
    grid-template-rows: repeat(1fr,5);
    grid-template-columns: repeat(1fr,5);
    width: 100%;
    height: 100%;
    background-color: rgba(241, 102, 22, 0.849);
    border: 2px black;
    border-style: solid;
   
}
 nav{
   justify-content: center; 
    display: grid;
    grid-template-columns: repeat(20%,5);
    border: 2px;
    border-style: solid;
    
}



.ul{
    display: grid;
    grid-template-rows: repeat(1fr,5);
    grid-template-columns: repeat(20%,5);
    border: 2px;
    border-style: solid;
    grid-area: auto;
}


@media screen and (max-width:480px)
{
    main{
        background-color: black;
        text-align: center;
    }
    h2{color: rgba(231, 87, 3, 0.678);

    }
}
.carousel-inner{
    width: 500px; ;
    height: 500px;
    position: center;
}
